### IntelliJ IDEA ###
.idea/
*.iml
*.iws
out/

### Eclipse ###
.project
.classpath
.settings/
bin/

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
.mvn/wrapper/maven-wrapper.jar

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
.gradle/
.gradle/*

### Logs ###
logs/
*.log
log/
*.log.*

### Temporary Files ###
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
Thumbs.db

### OS Files ###
*.DS_Store
*.AppleDouble
*.LSOverride
ehthumbs.db
Icon?
._*

### Spring Boot ###
.env
*.jks
application*.yml
application*.yaml

### Database ###
*.db
*.sqlite

### Security ###
*.pem
*.key
*.crt
*.p12
*.der
*.cert

### Node and NPM ###
node_modules/
npm-debug.log

### Docker ###
.dockerignore
docker-compose.override.yml
docker-compose*.yml
.env

### Kubernetes ###
/helm-release.yaml
/k8s/
kubectl.kubeconfig

### AWS ###
.aws/
.aws-sam/
.aws-profile

### Java ###
*.class
*.jar
*.war
*.ear

### Coverage ###
*.lcov
coverage/
coverage-final.json

### Test Reports ###
test-output/
surefire-reports/
jacoco/
